<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>关于</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    <!-- 导航 -->
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-sm-10">
                    <ul>
                        <li class="pull-left"><a href="case.html" >案例</a></li>
                        <li class="pull-left"><a href="service.html">服务</a></li>
                        <li class="pull-left"><a href="#" class="active">关于</a></li>
                        <li class="pull-left"><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <div class="logo pull-right"><a href="../index.html"><img class="img-responsive" src="../images/logo.png" alt="logo"></a></div>
                </div>
            </div>    
        </div>
    </div>
    <!-- /导航 -->
    <!-- banner图 -->
    <div class="banner pr">
        <img class="img-responsive" src="../images/about/banner.jpg" alt="banner图">
        <div class="sub-nav">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 pull-left">
                        <a class="mr30" href="about-core.html">教育核心</a>
                        <a class="" href="about-core.html">师资团队</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /banner图 -->
    <!-- 主体内容 -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 slogan main-slogan">教育量身订制，让不同的孩子变得更加不同！</div>
                <div class="text p40">
                    <p>成为创造中国儿童个性化学习新模式的领跑者。</p>
                    <p class="mb30">成为一家持续发展51年的教育公司。</p>
                    <p class="mb30">通过科技和教学法相结合的创新，创造中国个性化学习的新模式。通过三大核心课程——阅读、探究和数学思维训练，给予3-12岁儿童个性化、社区化和智能化的校外学习支持。</p>
                    <p>我们用行动表达对教育的看法，支持每一个孩子在未来的生活中更成功地寻求自己的幸福！</p>
                    <p class="mb30">通过哈佛大学教授Howard Gardner的八大智能教育理念去整合、发展和反映以学生中心的教学活动。通过了解每个孩子的强项和不足，设计有针对性的学习内容和学习方式。</p>
                </div>
            </div>
            <div class="row">             
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive w100" src="../images/about/tailored-1.jpg" alt="量身订制１">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive w100" src="../images/about/tailored-2.jpg" alt="量身订制２">
                </div>
            </div> 
             
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 地图 -->
    <div class="map leaflet-container leaflet-fade-anim" id="map">      
    </div>
    <!-- /地图 -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="row about">
                <div class="col-xs-6 col-sm-6">
                    <a class="pull-left mr40" href="#">合作机会</a>
                    <a class="pull-left" href="#">加入我们</a>
                </div>
                <div class="col-xs-5 col-sm-4">
                    <div class="social-icon pull-right" style="background: #30af2c;"><i class="iconfont icon-wechat"></i></div>
                    <div class="social-icon pull-right" style="background: #dd302d;"><i class="iconfont icon-sina"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">@eico design. All rights reserved.京ICP备08104990号-1京公网安备11010502026369</div>
            </div>
        </div>
    </div>
    <!-- /底部 -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>