<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>关于-师资团队</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    <!-- 导航 -->
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-sm-10">
                    <ul>
                        <li class="pull-left"><a href="case.html" >案例</a></li>
                        <li class="pull-left"><a href="service.html">服务</a></li>
                        <li class="pull-left"><a href="#" class="active">关于</a></li>
                        <li class="pull-left"><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <div class="logo pull-right"><a href="../index.html"><img class="img-responsive" src="../images/logo.png" alt="logo"></a></div>
                </div>
            </div>    
        </div>
    </div>
    <!-- /导航 -->
    <!-- banner图 -->
    <div class="banner pr">
        <div class="sub-nav">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 pull-left">
                        <a class="mr30" href="about-core.html">教育核心</a>
                        <a class="active" href="about-teachers.html">师资团队</a>
                    </div>
                </div>
            </div>
        </div>
        <img class="img-responsive" src="../images/about/teachers-banner.jpg" alt="banner图">
    </div>
    <!-- /banner图 -->
    <!-- 主体内容 -->
    <div class="about-teachers case">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 main-slogan text">鹏思立教育的创建团队包括有国内外教育经验的教育专家和技术领头人，共同围绕一项核心任务：尽可能给更多孩子提供个性化教育，为精英家庭提供一站式教育管家服务。</div>
            </div>
            <div class="row">             
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive w100" src="../images/about/teachers-1.jpg" alt="幼儿教育顾问">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="describe">
                        <div class="title">幼儿教育顾问</div>
                        <p class="sub-title">廖慧如 Frances</p>
                        <p class="text">中国版育儿真人秀《超级育儿师》第三季专家嘉宾，来自台湾，游历欧美、两岸20年幼教工作经验，曾任成都宋庆龄国际幼儿园园长、受邀多所大学和幼教机构授课，被数千名孩子亲切地称为园长妈妈，喜马拉雅平台排名第一的幼儿情商与亲子关系脱口秀《爸妈行不行》主播。</p>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <img class="img-responsive w100" src="../images/about/teachers-2.jpg" alt="运营及亲子教育顾问">
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                    <div class="describe">
                        <div class="title">运营及亲子教育顾问</div>
                        <p class="sub-title">范立 Chris</p>
                        <p class="text">20年传媒/娱乐行业营销企划经验，曾任职华纳唱片、中唱、MTV音乐电视台等公司主要管理岗位，“中国唱片业十大企划”之一。孙燕姿、林忆莲、蔡琴、辛晓琪、许巍、郑钧、周传雄等大牌艺人的内地市场的幕后推手。17年媒体策划和主持经验，上海东方广播电台/东方电视台多档谈话秀节目主持或嘉宾。喜马拉雅平台排名第一的幼儿情商与亲子关系脱口秀《爸妈行不行》制作人、主播。</p>
                    </div>
                </div>
            </div> 
            <div class="row">             
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive w100" src="../images/about/teachers-3.jpg" alt="阅读写作顾问">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="describe">
                        <div class="title">阅读写作顾问</div>
                        <p class="sub-title">姚之远(笔名) 向日葵姐姐</p>
                        <p class="text">一个生活的读者；一个侍弄文字的花匠；一个路过泥泞仍心存明媚的追风人；一个身惹尘埃却向往天空的造梦者。</p>
                        <p class="text">记者、编辑、教师、作家、阅读推广人......众多身份之中，最钟爱做一个麦田里的守望者，守望着一片金黄的麦田和成群快乐的孩子。</p>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <img class="img-responsive w100" src="../images/about/teachers-4.jpg" alt="教学总监">
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                    <div class="describe">
                        <div class="title">教学总监</div>
                        <p class="sub-title">刘伟 Amos</p>
                        <p class="text">有23年的国内和国际教育经历，Education Trainer苹果教育培训讲师，湖北首批百名骨干校长之一；珠三角某知名国际学校小学部的语文、探究学科带头人、个性化教育研究中心副主任、IBPYP项目级组协调员、小学数码教育主管。在教育行政部门的各类赛事中，教学案例获广东省特等奖，主讲优质课获地级市一等奖，教学论文3次获全国一等奖，3次获省一等奖，7次获市级一等奖，3次获顺德区一等奖。</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="pure-text tc mt50">我们的教育者在教学和学业指导方面有多年经验，致力于深度钻研不同类型的学习，实施天赋教育和跨文化教育。</p>
                    <div class="slogan">--私人教师团队--</div>
                    <p class="pure-text">每一位教师均来自全国各地教学一线，有至少5年教育教学经历，个性化教学的践行者和捍卫者，对中英文分级阅读有着独特的理解和指导策略。</p>
                </div>
            </div>
            <div class="row teams">
                <div class="col-xs-6 col-sm-1"><img class="w100" src="../images/about/teams-1.jpg" alt="教师１"></div>
                <div class="col-xs-6 col-sm-1 describe">
                    <p>罗老师</p>
                    <p>教育本科，任教13年，小学高级语文教师，小学语文骨干教师。</p>
                </div>
                <div class="col-xs-6 col-sm-1 col-sm-offset-1"><img class="w100" src="../images/about/teams-2.jpg" alt="教师２"></div>
                <div class="col-xs-6 col-sm-1 describe">
                    <p>黄老师</p>
                    <p>小学高级数学教师，从教19载，有13年国际学校教育经历。</p>
                </div>
                <div class="col-xs-6 col-sm-1 col-sm-offset-1"><img class="w100" src="../images/about/teams-2.jpg" alt="教师３"></div>
                <div class="col-xs-6  col-sm-1 describe">
                    <p>谢老师</p>
                    <p>教育专业本科，师从台湾戏剧教育专家朱曙明，对绘本戏剧有独特的见解和实践。</p>
                </div>
            </div>
            <div class="row teams">
                <div class="col-xs-3 col-sm-1 col-sm-offset-2"><img class="w100" src="../images/about/teams-3.jpg" alt="教师４"></div>
                <div class="col-xs-3  col-sm-1 describe">
                    <p>许老师</p>
                    <p>设计本科毕业，美国K12课程培训教师，中国少年儿童美术书法摄影作品二等辅导教师 ，师从加拿大美术教育专家简志雄。</p>
                </div>
                <div class="col-xs-3 col-sm-1 col-sm-offset-1"><img class="w100" src="../images/about/teams-4.jpg" alt="教师５"></div>
                <div class="col-xs-3  col-sm-1 describe">
                    <p>胡老师</p>
                    <p>大学本科，英语专业八级，师从美国著名插画家Allen Lee艾伦·李，《魔戒》和《霍比特人》均为Allen Lee的代表作。</p>
                </div>
            </div>
            <div class="row teams">
                <div class="col-xs-3 col-sm-1"><img class="w100" src="../images/about/teams-5.jpg" alt="教师６"></div>
                <div class="col-xs-3  col-sm-1 describe">
                    <p>岑老师</p>
                    <p>师从台湾悦读学堂执行长葛琦霞老师和台湾著名儿童文学家、两岸阅读推广人“花婆婆”方素珍老师。</p>
                </div>
                <div class="col-xs-3 col-sm-1 col-sm-offset-1"><img class="w100" src="../images/about/teams-6.jpg" alt="教师７"></div>
                <div class="col-xs-3  col-sm-1 describe">
                    <p>郑老师</p>
                    <p>师从大陆、港台三地戏剧专家王添强。</p>
                </div>
                <div class="col-xs-3 col-sm-1 col-sm-offset-1"><img class="w100" src="../images/about/teams-7.jpg" alt="教师８"></div>
                <div class="col-xs-3  col-sm-1 describe">
                    <p>王老师</p>
                    <p>本科毕业，新加坡留学归来，专注于幼儿英语教育，具有丰富的教学经验。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 地图 -->
    <div class="map leaflet-container leaflet-fade-anim" id="map">      
    </div>
    <!-- /地图 -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="row about">
                <div class="col-xs-7 col-sm-8">
                    <a class="pull-left mr40" href="#">合作机会</a>
                    <a class="pull-left" href="#">加入我们</a>
                </div>
                <div class="col-xs-5 col-sm-4">
                    <div class="social-icon pull-right" style="background: #30af2c;"><i class="iconfont icon-wechat"></i></div>
                    <div class="social-icon pull-right" style="background: #dd302d;"><i class="iconfont icon-sina"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">@eico design. All rights reserved.京ICP备08104990号-1京公网安备11010502026369</div>
            </div>
        </div>
    </div>
    <!-- /底部 -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>