<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>关于</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="main-nav navbar navbar-default" role="navigation">
        <div class="container">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" 
                 data-target="#example-navbar-collapse">
                 <span class="sr-only">切换导航</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a href="../index.html" class="pull-right visible-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
           <div class="collapse navbar-collapse" id="example-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="case.html">案例</a></li>
                <li><a href="service.html">服务</a></li>
                <li><a class="active"　href="about.html">关于</a></li>
                <li><a href="contact.html">联系</a></li>
              </ul>
              <a href="../index.html" class="pull-right hidden-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
        </div>
    </nav>
    <!-- /导航 -->
    <!-- banner图 -->
    <div class="banner pr">
        <div class="sub-nav">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 pull-left">
                        <a class="mr30 active" href="#">关于</a>
                        <a class="mr30" href="about-core.html">教育核心</a>
                        <a href="about-teachers.html">师资团队</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-img" style="background-image: url(../images/about/banner.jpg)"></div>
    </div>
    <!-- /banner图 -->
    <!-- 主体内容 -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 main-slogan">教育量身订制，让不同的孩子变得更加不同！</div>
                <div class="text p40">
                    <p>成为创造中国儿童个性化学习新模式的领跑者。</p>
                    <p class="mb30">成为一家持续发展51年的教育公司。</p>
                    <p class="mb30">通过科技和教学法相结合的创新，创造中国个性化学习的新模式。通过三大核心课程——阅读、探究和数学思维训练，给予3-12岁儿童个性化、社区化和智能化的校外学习支持。</p>
                    <p>我们用行动表达对教育的看法，支持每一个孩子在未来的生活中更成功地寻求自己的幸福！</p>
                    <p class="mb30">通过哈佛大学教授Howard Gardner的八大智能教育理念去整合、发展和反映以学生中心的教学活动。通过了解每个孩子的强项和不足，设计有针对性的学习内容和学习方式。</p>
                </div>
            </div>
            <div class="row">             
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive w100" src="../images/about/tailored-1.jpg" alt="量身订制１">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive w100" src="../images/about/tailored-2.jpg" alt="量身订制２">
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12 slogan"><img src="../images/about/mushroom.png" alt="">魔法蘑菇越读馆</div>
                <div class="col-xs-12 pure-text">魔法蘑菇越读馆隶属广东顺德鹏思立教育有限公司，简称：鹏思立教育，英文名称：Persli Ed.创立于广东顺德，位于大良嘉信城市广场一期东区三楼，占地400多平方米，馆藏2万余本图书，专注于3-12岁儿童的个性化教育，为精英家庭提供一站式高品质的教育管家服务。</div>
                <div class="col-xs-12 slogan">魔法蘑菇越读馆的价值观</div>
                <div class="col-xs-12 pure-text">
                    <dl>
                        <dt class="about">1.客户第一</dt>
                        <dd>——让学生快乐、家长满意是我们不懈的追求</dd>
                        <dd>百分百关注学生，不仅仅是学习高效、开心，更要培养高效能行为习惯，培育与众不同的性格特质；</dd>
                        <dd>创造一切条件满足中产家庭对教育多元化的需求；</dd>
                        <dd>聆听学生和家长的心声，即使不是自己的责任，也不推诿；</dd>
                        <dd>站在学生和家长的立场思考问题，在坚持原则的基础上，最终达到三方都满意；</dd>
                        <dd>用心做好服务，做小，做深，做精致，给每一个客户极致愉悦的体验</dd>
                    </dl>
                    <dl>
                        <dt class="about">2.质量过硬</dt>
                        <dd>——教育教学质量是我们生存和发展的核心</dd>
                        <dd>除了个性化教学理念和阅读不动摇，没有什么不可以创新的；</dd>
                        <dd>根据家长的需求和孩子的现状，开发最适合孩子的学习课程；</dd>
                        <dd>开发有效课程，必须体现趣味性、相关性和挑战性；</dd>
                        <dd>课程评估标准严格，确保能让孩子看到自己的成果，让家长看到孩子的成长。</dd>
                    </dl>
                    <dl>
                        <dt class="about">3.同行共赢</dt>
                        <dd>——互帮互助、互利互惠才能走得更远</dd>
                        <dd>尊重主流教育学校和机构，主动分享交流；</dd>
                        <dd>要有同理心，不诋毁、不议论学生之前的学习的学校和机构，不仅要站在对方的角度去考虑问题，还能站在对方的角度做出决策；</dd>
                        <dd>在不影响公司利益的前提下，积极主动与学校和教育机构多元合作。</dd>
                    </dl>
                    <dl>
                        <dt class="about">4.关注细节</dt>
                        <dd>——细节决定成败</dd>
                        <dd>评估学生、学习规划、学业评估和学生安全必须有严格的管理、执行、督查流程；</dd>
                        <dd>日常接待、学习反馈必须有人性化且严格的标准；</dd>
                        <dd>与家长和学生交流列举细节，说具体；</dd>
                        <dd>各项规定、文案、教案无大话，无空洞的语句，利于操作执行</dd>
                    </dl>
                    <dl>
                        <dt class="about">5.团队合作</dt>
                        <dd>——共识共享共担，平凡人做非凡事</dd>
                        <dd>主动融入团队，乐于接受同事的帮助，协助团队完成工作；</dd>
                        <dd>决策前主动发表建设性意见，积极参与团队交流；</dd>
                        <dd>决策后，无论个人是否有异议，必须从言行上与团队保持一致；</dd>
                        <dd>积极分享业务知识和经验，主动给予同事必要的帮助，善于利用团队的力量解决问题和困难；</dd>
                        <dd>善于和同事合作，对事不对人，不将个人喜好带入工作；</dd>
                        <dd>有合伙人意识，积极正面地影响团队，激发团队士气和氛围</dd>
                    </dl>
                    <dl>
                        <dt class="about">6.勇于创新</dt>
                        <dd>——创新是我们不断发展的源泉</dd>
                        <dd>适应我们的日常变化，多想事，勤干事，不抱怨；</dd>
                        <dd>面对变化，理性对待，主动沟通，真诚配合；</dd>
                        <dd>对变化产生的困难和挫折，能自我调整，传递正能量；</dd>
                        <dd>在工作中有前瞻意识，敢于尝试，建立新方法、新思路； </dd>
                        <dd>不断创造变化，并带来绩效突破性地提高 </dd>
                    </dl>
                    <dl>
                        <dt class="about">7.永葆激情</dt>
                        <dd>——乐观向上，不懈怠不放弃</dd>
                        <dd>喜欢自己的工作，认同鹏思立企业文化；</dd>
                        <dd>热爱鹏思立，顾全大局，不计较个人得失；</dd>
                        <dd>以积极乐观的心态面对日常工作，碰到困难和挫折的时候永不放弃，不断自我激励，努力提升业绩； </dd>
                        <dd>始终以乐观主义的精神和必胜的信念，影响并带动同事和团队； </dd>
                        <dd>不断设定更高的目标，今天的最好表现是明天的最低要求； </dd>
                    </dl>
                    <dl>
                        <dt class="about">8.爱岗敬业</dt>
                        <dd>——捍卫教育理念，精益求精</dd>
                        <dd>当日事当日毕，工作时间只做与工作有关的事情；</dd>
                        <dd>遵循必要的工作流程，没有因工作失职而造成的重复错误； </dd>
                        <dd>持续学习，自我完善，做事情充分体现以结果为导向；</dd>
                        <dd>能根据轻重缓急来正确安排工作优先级，在正确的时间做正确的事； </dd>
                        <dd>遵循但不拘泥于工作流程，化繁为简，用较小的投入获得较大的工作成果 </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 地图 -->
    <div class="map leaflet-container leaflet-fade-anim" id="map">      
    </div>
    <!-- /地图 -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="row about">
                <div class="col-xs-7 col-sm-8">
                    <a class="pull-left mr40" href="#">合作机会</a>
                    <a class="pull-left" href="#">加入我们</a>
                </div>
                <div class="col-xs-5 col-sm-4">
                    <div class="social-icon pull-right" style="background: #30af2c;"><i class="iconfont icon-wechat"></i></div>
                    <div class="social-icon pull-right" style="background: #dd302d;"><i class="iconfont icon-sina"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">@eico design. All rights reserved.京ICP备08104990号-1京公网安备11010502026369</div>
            </div>
        </div>
    </div>
    <!-- /底部 -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>