<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>关于-教育核心</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="main-nav navbar navbar-default" role="navigation">
        <div class="container">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" 
                 data-target="#example-navbar-collapse">
                 <span class="sr-only">切换导航</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a href="../index.html" class="pull-right visible-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
           <div class="collapse navbar-collapse" id="example-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="case.html">案例</a></li>
                <li><a href="service.html">服务</a></li>
                <li><a class="active"　href="about.html">关于</a></li>
                <li><a href="contact.html">联系</a></li>
              </ul>
              <a href="../index.html" class="pull-right hidden-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
        </div>
    </nav>
    <!-- /导航 -->
    <!-- banner图 -->
    <div class="banner pr">
        <div class="sub-nav">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 pull-left">
                        <a class="mr30" href="about.html">关于</a>
                        <a class="mr30 active" href="about-core.html">教育核心</a>
                        <a href="about-teachers.html">师资团队</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-img" style="background-image: url(../images/about/core-banner.jpg)"></div>
    </div>
    <!-- /banner图 -->
    <!-- 主体内容 -->
    <div class="about-core">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 main-slogan"><img src="../images/about/mushroom.png" alt="">魔法蘑菇越读馆</div>
                <div class="pure-text">
                    <p class="mb30">魔法蘑菇越读馆隶属广东顺德鹏思立教育有限公司，简称：鹏思立教育，英文名称：Persli Ed.创立于广东顺德，位于大良嘉信城市广场一期东区三楼，占地400多平方米，馆藏2万余本图书，专注于3-12岁儿童的个性化教育，为精英家庭提供一站式高品质的教育管家服务。</p>
                    <p>魔法蘑菇越读馆，我们只做基于“阅读、探究和数学思维”的个性化学习量身订制</p>
                </div>
            </div>
            <div class="row">             
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="../images/about/core-1.jpg" alt="教育核心１">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="../images/about/core-2.jpg" alt="教育核心２">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="../images/about/core-3.jpg" alt="教育核心３">
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12 pure-text mt40">
                    <dl>
                        <dt>1.谁要学？</dt>
                        <dd>建立学习者档案——初次约见，学生参与各种体验，私人教师观察记录，测评师向家长了解学习者信息。</dd>
                        <dd>测评数据收集——设计特别活动，从“智能测评”和“学习风格偏好”方面进行观察、记录。</dd>
                    </dl>
                    <dl>
                        <dt>2.学什么？</dt>
                        <dd>测评师“会诊”——各方专家或有经验的教师分析数据，形成《评估报告》。</dd>
                        <dd>测评汇报——与家长、学生交流，拟订《学习支持纲要》。</dd>
                        <dd>订制学习方案——根据学生、家长的需求以及“智能优势”、“学习风格”订制《学习支持行动方案》。</dd>
                    </dl>
                    <dl>
                        <dt>3.怎样学？</dt>
                        <dd>调配资源——确定匹配的教师，量身订制学习材料，选定学习场所、时间。</dd>
                    </dl>
                    <dl>
                        <dt>4.学得怎么样？</dt>
                        <dd>形成性评估——在学习的过程中完成，帮助学生、教师和家长了解孩子学到了什么以及有能力做什么。</dd>
                        <dd>总结性评估——根据孩子的特点，引导孩子用独特的形式展示自己所学到的东西。同时将孩子引向更深入更广的学习领域。</dd>
                    </dl>
                </div>
            </div>
            <div class="row">             
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="../images/about/core-4.png" alt="教育核心4">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="../images/about/core-5.png" alt="教育核心5">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="../images/about/core-6.png" alt="教育核心6">
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12">
                    <div class="slogan-core">魔法蘑菇越读馆的“卓越的能力”具体是指什么呢？</div>
                    <div class="pure-text">决定孩子成功的最重要因素，不在于我们给孩子灌输了多少知识，而在于我们是否帮助孩子获得了以Grit为首的七种重要的性格特质！鹏思立教育通过个性化教育，培养每一个学习者拥有长期的潜力——气质：Grit坚毅、Zest激情、Self-control自制力、Optimism乐观态度、Gratitude感恩精神、Social Intelligence社交智力、Curiosity 好奇心，让他们在个人成长、职业发展和创造性的追求上做好充分的准备，让每一个孩子都拥有培育幸福的能力！</div>
                    <div class="slogan-core">什么使魔法蘑菇越读馆“私人订制”独一无二？</div>
                    <div class="pure-text">
                        <p class="mb30">我们坚持：让文学的力量陪伴孩子成长，每日阅读半小时，每月阅读一本经典名著，每半年一次“越读展示”，变说教教育为自主阅读明事理。</p>
                        <p>我们倾听学生、家长和老师的特别需求，开展个性化教育以培养每个孩子在阅读素养、气质、艺术、社会情绪等方面的能力。</p>
                        <p class="mb30">我们认为学习的整体环境——学校、家庭和社区将塑造学生的认知经历，魔法蘑菇越读馆管家服务将会帮每一个精英家庭去“扮演”这样的角色。</p>
                        <p class="mb30">我们擅长“整合资源”，从各种文学作品、杰出人士、有趣的社区环境中汲取资源，并借助数字技术为学习者提供一个立体且真实的学习体验。</p>
                        <p class="mb30">我们根据“八大智能”来确定学习者“学什么”，根据 “学习风格”来确定学习者“怎样学”，为每一个学习者量身订制独一无二的学习方案。</p>
                        <p class="mb30">我们深度研究的“3-12岁儿童汉语分级阅读方案”，让每一个学习者都感觉是自己感兴趣的，是自己最擅长的，是最能跟上自己节奏的阅读。</p>
                        <p class="mb30">我们坚守承诺：每一个孩子配一名私人教师全程观察、记录学习全过程；每一次量身订制都是“会诊制”，每一份方案都是出自各方专家或有经验的教师的集体智慧。</p>
                        <p>我们倾注精力为每一个孩子创设学习成果展示的平台，让每一个孩子和家长亲历成长的过程。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 地图 -->
    <div class="map leaflet-container leaflet-fade-anim" id="map">      
    </div>
    <!-- /地图 -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="row about">
                <div class="col-xs-7 col-sm-8">
                    <a class="pull-left mr40" href="#">合作机会</a>
                    <a class="pull-left" href="#">加入我们</a>
                </div>
                <div class="col-xs-5 col-sm-4">
                    <div class="social-icon pull-right" style="background: #30af2c;"><i class="iconfont icon-wechat"></i></div>
                    <div class="social-icon pull-right" style="background: #dd302d;"><i class="iconfont icon-sina"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">@eico design. All rights reserved.京ICP备08104990号-1京公网安备11010502026369</div>
            </div>
        </div>
    </div>
    <!-- /底部 -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>