<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>案例</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    <!-- 导航 -->
    <div class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-8">
                    <ul>
                        <li class="pull-left"><a href="#" class="active">案例</a></li>
                        <li class="pull-left"><a href="#">服务</a></li>
                        <li class="pull-left"><a href="#">关于</a></li>
                        <li class="pull-left"><a href="#">最新</a></li>
                    </ul>
                </div>
                <div class="col-xs-3 col-sm-2 pull-right">
                    <div class="logo"><img class="img-responsive" src="../images/logo.png" alt="logo"></div>
                </div>
            </div>    
        </div>
    </div>
    <!-- /导航 -->
    <!-- banner图 -->
    <div class="banner">
        <img class="img-responsive" src="../images/case/banner.jpg" alt="banner图">
    </div>
    <!-- /banner图 -->
    <!-- 主体内容 -->
    <div class="case">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 slogan">魔法蘑菇越读馆，我们只做基于“阅读、探究和数学思维”的个性化学习量身订制</div>
            </div>
            <div class="row">             
                <div class="col-xs-12 col-sm-6" style="background: #fff100;">
                    <img class="img-responsive" src="../images/case/case-1.png" alt="阅读+绘本创作">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="describe">
                        <div class="title">阅读+绘本创作</div>
                        <p class="text">阅读+绘本创作是魔法蘑菇越读馆“阅读+”系列课程之一，是阅读与创作二合一的课程模式。以孩子自身的经历或感悟为启发，通过绘画、手工等形式制作专属于自己的绘本故事，由专业教师指导，孩子独立完成，从而达到写作和创作能力双重提高的目的。</p>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="describe">
                        <div class="title">阅读+黏土（软陶）制作</div>
                        <p class="text">“阅读+软陶”是魔法蘑菇越读馆“阅读+”系列课程之一，将阅读绘本与手工制作合二为一，专为动手能力强的小学低年级学生量身订制。由专业教师先进行故事讲演，或陪伴阅读，或引导独立阅读，启发思考，再通过创意手工表达对书本的独特理解，提升创造力。当单纯的阅读难以维持孩子的学习兴趣，一味的手工创作无法提升认知水平时，我们主张将二者结合，手脑一齐为学习助力。</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" style="background: #00a0e9;">
                    <img class="img-responsive" src="../images/case/case-2.png" alt="阅读+黏土（软陶）制作">
                </div>
            </div> 
            <div class="row">             
                <div class="col-xs-12 col-sm-6" style="background: #dcdcdc;">
                    <img class="img-responsive" src="../images/case/case-3.png" alt="沙盘布景+写作">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="describe">
                        <div class="title">沙盘布景+写作</div>
                        <p class="text">孩子通过种类齐全的道具，在沙盘自由拼组演绎场景，再以场景为素材，创作故事，口头写作。将可视化的场景转换为语言能力的展现。与“阅读+”系列课程不同之处在于，沙盘布景+写作是手作在前，故事在后，可满足孩子手工演绎的欲望，先带动学习兴趣，再深化学习主题。</p>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="describe">
                        <div class="title">故事会+趣味延伸活动</div>
                        <p class="text">为了更广泛的调动孩子的学习兴趣，使听故事不仅停留在表层上的“听”，指引孩子表达自己的想法。我们的故事会不再是单纯的你讲我听，更是一个老师讲演并与学生互动游戏的环节，先由专业教师进行生动演绎，引导学生对故事进行认知，再延伸各种趣味活动，加深学生对阅读的热爱及理解，如烘焙、手工、绘画等。</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" style="background: #009944;">
                    <img class="img-responsive" src="../images/case/case-4.png" alt="故事会+趣味延伸活动">
                </div>
            </div>
            <div class="row">             
                <div class="col-xs-12 col-sm-6" style="background: #601986;">
                    <img class="img-responsive" src="../images/case/case-5.png" alt="小学语文/数学/英语/写作课程订制">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="describe">
                        <div class="title">小学语文/数学/英语/写作课程订制</div>
                        <p class="text">为满足学生的个性化学习需求，尊重学生的学习差异，为每个孩子量身订制学习课程，找到最合适自己的学习方式。各学科课程订制，可与学校课本无缝对接，也可以阅读为基础进行学习拓展。</p>
                        <p class="text">专业导师一对一辅导，以iPad等学习资源为辅，使学生不再局限于课堂、书本，学习更高效。</p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 地图 -->
    <div class="map leaflet-container leaflet-fade-anim" id="map">      
    </div>
    <!-- /地图 -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="row about">
                <div class="col-xs-6 col-sm-6">
                    <a class="pull-left mr40" href="#">合作机会</a>
                    <a class="pull-left" href="#">加入我们</a>
                </div>
                <div class="col-xs-6 col-sm-2 pull-right">
                    <div class="social-icon" style="background: #dd302d;"><i class="iconfont icon-sina"></i></div>
                    <div class="social-icon" style="background: #30af2c;"><i class="iconfont icon-wechat"></i></div>
                    <div class="social-icon" style="background: #1577b3;"><i class="iconfont icon-in"></i></div>
                    <div class="social-icon" style="background: #ef6426;"><i class="iconfont icon-rss"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">@eico design. All rights reserved.京ICP备08104990号-1京公网安备11010502026369</div>
            </div>
        </div>
    </div>
    <!-- /底部 -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>