<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>联系我们</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="main-nav navbar navbar-default" role="navigation">
        <div class="container">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" 
                 data-target="#example-navbar-collapse">
                 <span class="sr-only">切换导航</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a href="../index.html" class="pull-right visible-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
           <div class="collapse navbar-collapse" id="example-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="case.html">案例</a></li>
                <li><a href="service.html">服务</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a class="active" href="contact.html">联系我们</a></li>
              </ul>
              <a href="../index.html" class="pull-right hidden-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
       </div>
    </nav>
    <!-- /导航 -->
    <!-- banner图 -->
    <div class="banner">
        <img class="banner-img" style="background-image: url(../images/contact/banner.jpg)">
    </div>
    <!-- /banner图 -->
    <!-- 企业信息 -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 main-slogan">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4"><img src="../images/vcode.jpg" alt="二维码"></div>
                        <div class="col-xs-12 col-sm-8 info text">
                            <p>公众号：鹏思立教育（persli-gd）</p>
                            <p>新浪微博：魔法蘑菇越读馆</p>
                            <p>地址：广东顺德大良嘉信城市广场一期东区三楼（万宁超市楼上）</p>
                            <p>电话：0757-22918598</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 form">
                <div class="slogan">联系我们</div>
                <div class="text">一封邮件或许正是成就一个出色产品的开端。欢迎填写表格或发送合作邮件至：
                    <a href="mailto:service@eicodesign.com">service@eicodesign.com</a>
                </div>
                <form class="row text mt20" method="" action="">                   
                    <div class="col-xs-12 col-sm-6 form-block">
                        <label for="name">您的姓名：</label>
                        <span class="require">*</span>
                        <input name="name" type="text" class="input j-input" id="name" placeholder="">
                    </div>
                    <div class="col-xs-12 col-sm-6 form-block">
                        <label for="company">公司名称：</label>
                        <span class="require">*</span>
                        <input name="company" type="text" class="input j-input" id="company" placeholder="">
                    </div>
                  <div class="col-xs-12 col-sm-6 form-block">
                    <label for="email">您的邮箱：</label>
                    <span class="require">*</span>
                      <input name="email" type="email" class="input j-input j-email" id="email" placeholder="">
                  </div>
                  <div class="col-xs-12 col-sm-6 form-block">
                    <label for="telphone">联系电话：</label>
                    <span class="require">*</span>
                    <input name="telephone" type="text" class="input j-input j-telephone" id="telphone" placeholder="">
                  </div>
                  <div class="col-xs-12 col-sm-6 form-block">
                    <label for="website">公司网站：</label>
                      <input name="website" type="text" class="input" id="website" placeholder="">
                  </div>
                  <div class="col-xs-12 col-sm-6 form-block j-select">
                    <label>所在城市：</label>
                    <span class="glyphicon glyphicon-menu-down require"></span>
                    <ul class="pop-layer-inline none">
                        <li>北京</li>
                        <li>上海</li>
                        <li>广州</li>
                        <li>深圳</li>
                        <li>珠海</li>
                        <li>厦门</li>
                        <li>杭州</li>
                        <li>南京</li>
                        <li>武汉</li>
                        <li>西安</li>
                        <li>成都</li>
                        <li>重庆</li>
                        <li>青岛</li>
                        <li>沈阳</li>
                        <li>其他</li>
                    </ul>
                    <span class="input pointer j-selectValue"></span>
                    <input name="city" class="j-selectInput none" type="text" class="hidden" value="">
                  </div>
                  <div class="col-xs-12 col-sm-6 form-block j-select">
                    <label>项目类型：</label>
                    <span class="glyphicon glyphicon-menu-down require"></span>
                    <ul class="pop-layer-inline none">
                        <li>移动</li>
                        <li>车载</li>
                        <li>家电</li>
                        <li>金融</li>
                        <li>医疗</li>
                        <li>健康</li>
                        <li>物流</li>
                        <li>安全</li>
                        <li>电子</li>
                        <li>通信</li>
                        <li>零售</li>
                        <li>金融</li>
                        <li>教育</li>
                        <li>能源</li>
                        <li>旅游</li>
                        <li>媒体</li>
                        <li>娱乐</li>
                        <li>创业</li>
                        <li>NGO</li>
                        <li>其他</li>
                      </ul>
                    <span class="input pointer j-selectValue"></span>
                    <input name="project" class="j-selectInput none" type="text" class="hidden" value="">
                  </div>
                  <div class="col-xs-12 col-sm-6 form-block j-select">
                    <label>开始时间：</label>
                    <span class="glyphicon glyphicon-menu-down require"></span>
                    <ul class="pop-layer none">
                        <li>需要现在开始</li>
                        <li>1-2个月开始</li>
                        <li>2-4个月开始</li>
                        <li>暂时不着急</li>
                    </ul>
                    <span class="input pointer j-selectValue"></span>
                    <input name="time" class="j-selectInput none" type="text" class="hidden" value="">
                  </div>
                  <div class="col-xs-12 form-block" style="height: 115px;">
                    <label for="project">合作需求：</label>
                    <textarea class="textarea" rows="3" placeholder="详细产品描述、功能规划、数量、软件平台等"></textarea>
                  </div>
                  <div class="col-xs-12"><input type="button" class="btn-submit j-submit" value="完成并发送" /></div>
                </form>
                <!-- <div class="text tc">其他咨询：<a href="#">info@eicodesign.com</a></div> -->
            </div>
        </div>
    </div>
    <!-- /企业信息 -->
    <!-- 地图 -->
    <div class="map leaflet-container leaflet-fade-anim" id="map">     
    </div>
    <!-- /地图 -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="row about">
                <div class="col-xs-7 col-sm-8">
                    <a class="pull-left mr40" href="#">合作机会</a>
                    <a class="pull-left" href="#">加入我们</a>
                </div>
                <div class="col-xs-5 col-sm-4">
                    <div class="social-icon pull-right" style="background: #30af2c;"><i class="iconfont icon-wechat"></i></div>
                    <div class="social-icon pull-right" style="background: #dd302d;"><i class="iconfont icon-sina"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">@eico design. All rights reserved.京ICP备08104990号-1京公网安备11010502026369</div>
            </div>
        </div>
    </div>
    <!-- /底部 -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../lib/regExpHelper.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/contact.js"></script>
</body>
</html>