<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>服务</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="main-nav navbar navbar-default" role="navigation">
        <div class="container">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" 
                 data-target="#example-navbar-collapse">
                 <span class="sr-only">切换导航</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a href="../index.html" class="pull-right visible-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
           <div class="collapse navbar-collapse" id="example-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="case.html">案例</a></li>
                <li><a class="active"　href="service.html">服务</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="contact.html">联系</a></li>
              </ul>
              <a href="../index.html" class="pull-right hidden-xs"><img class="img-responsive" src="../images/logo.png" alt="logo"></a>
           </div>
        </div>
    </nav>
    <!-- /导航 -->
    <!-- banner图 -->
    <div class="banner">
        <div class="banner-img" style="background-image: url(../images/service/banner.jpg)"></div>
    </div>
    <!-- /banner图 -->
    <!-- 主体内容 -->
    <div class="service">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 main-slogan">魔法蘑菇越读馆丰富多彩的课程及活动深得孩子的喜爱</div>
            </div>
            <div class="row pure-text">             
                <div class="col-xs-12 col-sm-5">
                    <img class="img-responsive" src="../images/service/service-1.png" alt="“阅读+”系列课程">
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="describe-even first">
                        <div class="title">一、“阅读+”系列课程</div>
                        <p class="text">1、阅读+软陶塑型课程，将阅读绘本与手作活动合二为一，专为动手能力强的学生量身订制。由专业教师先进行故事讲演，或陪伴阅读，或引导独立阅读，启发思考，再通过创意手工表达对书本的独特理解，提升创造力。</p>
                        <p class="text">2、阅读+绘本创作课程，以孩子自身的经历或感悟为启发，通过绘画、手工等形式制作专属于自己的绘本故事，由专业教师指导，孩子独立完成，达到写作和创作能力双重提高的目的。</p>
                        <p class="text">3、阅读+戏剧表演课程，在学生对书本进行阅读并形成自己的理解之后，由教师进行引导协助，创作自己的故事并展演。</p>
                    </div>
                </div>
            </div> 
            <div class="row pure-text">
                <div class="col-xs-12 col-sm-5 col-sm-push-7">
                    <img class="img-responsive" src="../images/service/service-2.png" alt="探究课程">
                </div>
                <div class="col-xs-12 col-sm-7 col-sm-pull-5">
                    <div class="describe">
                        <div class="title">二．探究课程</div>
                        <p class="text">挖掘孩子的智力强项，通过探究活动培养坚毅的品质。在真实世界中挖掘兴趣点，对主题进行深入探究，以锻炼观察力和解决问题为目标，使学习与实际紧密相连，培养以坚毅为首的七种性格特质。</p>
                    </div>
                </div>
            </div> 
            <div class="row pure-text">             
                <div class="col-xs-12 col-sm-5">
                    <img class="img-responsive" src="../images/service/service-3.png" alt="数学思维课程">
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="describe-even">
                        <div class="title">三．数学思维课程</div>
                        <p class="text">趣味数学游戏在进一步巩固知识的同时增加学习乐趣。通过对进阶式数学绘本的阅读，启蒙逻辑思维，利用专项教材创设情境，在实际中感知数学。</p>
                    </div>
                </div>
            </div> 
            <div class="row pure-text">
                <div class="col-xs-12 col-sm-5 col-sm-push-7">
                    <img class="img-responsive" src="../images/service/service-4.png" alt="学习托管">
                </div>
                <div class="col-xs-12 col-sm-7 col-sm-pull-5">
                    <div class="describe">
                        <div class="title">四．学习托管</div>
                        <p class="text">为工作繁忙的家长提供教育管家式服务，教师全程跟进，作业辅导、活动陪伴，让每个孩子都不再“脱管”。</p>
                    </div>
                </div>
            </div>
            <div class="row pure-text">             
                <div class="col-xs-12 col-sm-5">
                    <img class="img-responsive" src="../images/service/service-5.png" alt="故事会">
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="describe-even">
                        <div class="title">五．故事会</div>
                        <p class="text">周末故事会，中英文故事演绎，穿插趣味延伸活动，提高孩子的学习兴趣。</p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <!-- /主体内容 -->
    <!-- 地图 -->
    <div class="map leaflet-container leaflet-fade-anim" id="map"> 
        <div class="address">
            <div class="title">广东省<i class="glyphicon glyphicon-menu-down"></i></div>
            <div class="detail">
                <p class="mb5">地址：广东省佛山市顺德区大良嘉信城市广场一期东区三楼（万宁超市楼上）</p>
                <p>电话：0757-22918598</p>
            </div>
        </div>   
    </div>
    <!-- /地图 -->
    <!-- 底部 -->
    <div class="footer">
        <div class="container">
            <div class="row about">
                <div class="col-xs-7 col-sm-8">
                    <a class="pull-left mr40" href="#">合作机会</a>
                    <a class="pull-left" href="#">加入我们</a>
                </div>
                <div class="col-xs-5 col-sm-4">
                    <div class="social-icon pull-right pointer j-wechat" style="background: #30af2c;"><i class="iconfont icon-wechat"></i></div>
                    <div class="social-icon pull-right pointer" style="background: #dd302d;"><i class="iconfont icon-sina"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">@eico design. All rights reserved.京ICP备08104990号-1京公网安备11010502026369</div>
            </div>
        </div>
    </div>
    <!-- /底部 -->
    <!-- 模态弹窗 -->
    <div class="modal-wechat none">
        <div class="vcode">
            <img class="icon170" src="../images/vcode.jpg" alt="二维码" />
            <p class="mt20">扫描二维码，</p>
            <p class="mb20">关注鹏思立微信号</p>
            <div class="button btn-confirm j-modalClose">确定</div>
        </div>
    </div>
    <!-- /模态弹窗 -->
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/leaflet/leaflet.js"></script>
    <script src="../js/common.js"></script>
</body>
</html>