
@import 'custom/mixin.scss';

// xs
@media (max-width: 768px) { 
	.main-nav {
		font-size: 20px;
		.navbar-nav {
			top: 0;
			width: 100%;
        	padding-left: 35px;
			a.active:before {
				@include size(0);
			}
		}

	}
	.main-nav li {
		margin-right: 10px;
		font-size: 20px;
	}
	.main-navIndex {
		position: relative;
	}
	.pure-text {
		padding: 40px;
	}
	.sub-nav {
        a:first-child {
            margin-left: 10px;
        }
	}
	.banner-img {
		height: 535px;
	}
	.map {
		height: 300px;
	}

	.service {
		.describe {
			padding: 10% 0;
		}
		.discribe.first {
			padding-top: 10%;
		}
	}

	.slogan-core {
		padding: 0 20px;
	}

	

	.contact {
		.info {
			padding: 40px 30px;
		}
		.form {
			padding: 40px;
			padding-top: 0;
		}
	}
}

@media (max-width: 992px) {
	.case {
		.describe {
			padding-top: 10%;
            padding-bottom: 10%;
		}
	}

}

@media (min-width: 992px) {
	.teams {
		.col-md-1 {
            width: 12.5%;
        }
        .col-md-offset-1 {
            margin-left: 12.5%;
        }
        .col-md-offset-2 {
            margin-left: 25%;
        }
	}
}